<!doctype html>
<html>      
<head>
	<title>Trick Game</title>        
	<link type="text/css">
	<style>
		.table1_9 table {
			width:100%;
			margin:15px 0
		}
		.table1_9 th {
			height: 30px;
			width: 360px;
			background-color:#1EA4FF;
			color:#FFFFFF
		}
		.table1_9,.table1_9 th,.table1_9 td {
			font-size:0.95em;
			text-align:center;
			padding:1px;
			border:1px solid #dddddd;
			border-collapse:collapse
		}
		.table1_9 tr:nth-child(odd){
			background-color:#b4e0fe;
		}
		.table1_9 tr:nth-child(even){
			background-color:#fdfdfd;
		}
	</style>       
</head>
<body>
	<h1 align="center">Trick Game </h1>
<h2>Major Contributors </h2>
	<table class=table1_9>
		<tr>
			<th><h3>Zhang Xiaohan</h3></th><th><h3>zxh666@mail.ustc.edu.cn</h3></th>
		</tr>
		<tr>
			<th><h3>Xie Xiaokang</h3></th><th><h3>xiexk@mail.ustc.edu.cn</h3></th>
		</tr>
	</table>

	<h2>Trick Game Rules</h2>
			<img alt="Rules" src="../static/image/TrickGameRules.png" width="500"/>
	<h2>Codes</h2>
	<img alt="Codes" src="../static/image/codes.png" width="500/"/>
	<p><font size="3">
		<a href="https://github.com/ustcxiexk/Poker/tree/master/Code/Game" target="_blank">
			My Codes Download
		</a>
	</font></p>
	<h2>Play Now</h2>
	<a href ="/login">
		<img alt="Codes" src="../static/image/playnow.jpg" width="100/" align="middle"/>
	</a>
</body>
</html>
	   
